*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(34, 28, 28);
}

.circulo{
    width: 200px;
    height: 200px;
    background: linear-gradient(270deg, #50d3b2, #f3bbb8);
    background-size: 400% 400%;
    border-radius: 50%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.uno{
    position: absolute;
    left: 350px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.6);
}

.dos{
    position: absolute;
    left: 750px;
    top:400px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.6);
}

form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    
    
}

form *{
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    border: none;
}


form h3{
    text-align: center;
    padding-top: 30px
}
